<style>
    .continer-footer {
        background-color: antiquewhite;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* position: absolute; */
        bottom: 0;
        border-top: 1px solid rgb(199, 196, 196);

    }
</style>

<footer>
    <div class="continer-footer">
        <div class="f-info-icon">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
        </div>
        <div class="f-company">Wunderlust Private limited</div>
        <div class="f-info-links">
            <a href="">Privacy</a>
            <a href="">Terms</a>
        </div>
    </div>

</footer>