<nav class="navbar navbar-expand-md bg-body-tertiary  border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <a class="nav-link " aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listings">All Listing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listings/new">Add New Listing</a>
                </li>
            </ul>
        </div>
        <div class="navbar-nav ms-auto">
            <% if (!currUser) {%>
                <a class="nav-link " aria-current="page" href="/singup">SingUp</a>
                <a class="nav-link" href="/login">Login</a>
                <% } %>




                    <% if(currUser) {%>
                        <p style="margin-top: 0.5rem;">hello <%=currUser.username %>
                        </p>
                        <a class="nav-link" href="/logout">LogOut</a>
                        <% } %>

        </div>
    </div>
</nav>