<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AllListing</title>
</head> -->


<!-- <style>
    .rap2 {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.134);

    }

    .rap {
        width: 100%;
        max-width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .filters {

        /* margin-top: 50px; */
        /* width: 60vw; */
        /* margin-top: 50px; */
        padding: 1rem 40px 1rem 40px;
        display: inline-flex;
        overflow-x: auto;
        align-items: center;
        /* justify-content: center; */



        overflow-x: auto;
    }



    .filters::-webkit-scrollbar {
        display: none;
    }

    .filter {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 2rem;
        /* border: 1px solid black; */
    }

    .filter {
        opacity: 0.5;

    }

    .filter.active {
        opacity: 1;
    }

    .filter:hover {
        opacity: 1;
        cursor: pointer;
    }

    .filter:active {
        color: red;
    }

    .filter p {
        margin-top: 0.5rem;
        font-size: 0.8rem;
    }

    .text-togule {

        margin: auto !important;
        border: 1px solid black;
        border-radius: 15px;
        height: 3.25rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-switch {
        width: max-content;
    }

    #Link {
        text-decoration: none;
        font-size: 0.8rem;
        color: black;
    }

    .listingdata {
        justify-content: center;
        /* align-items: center; */
        /* margin: auto; */
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    @media screen and (max-width: 696px) {
        .row a {
            width: clamp(19rem, 90vw, 38rem) !important;
            margin-right: 0px !important;
        }

        .card {
            width: clamp(19rem, 90vw, 38rem) !important;
            margin: 0 !important;
        }

        .text-togule {
            display: none;
        }

    }

    @media screen and (max-width: 767px) {
        .filters {
            width: 100vw;
            padding: 1rem 0.5rem 1rem 0.5rem;
            display: flex;

        }

        .rap {

            display: flex;
            flex-direction: column;
            padding: 0px;
        }

        .ms-auto {
            margin-left: 0 !important;
        }

        #navbar-1 {
            display: none;
        }

        #nav-item {
            align-items: flex-start !important;
        }


    }
</style> -->

<% layout("layouts/boilerplate") -%>

    <body>

        <!-- <form method="GET" action="/listings/new">
            <button>Create New Listing</button>
        </form> -->
        <!-- -------------------------------------------------------------- -->

        <div class="rap2">
            <div class="rap">


                <div class="filters ">
                    <div class="filter " id="Filter">
                        <div><i class="fa-solid fa-fire "></i></div>
                        <a href="/Search/city" id="Link">Trending</a>
                        <!-- <p style=" margin: 0;">Trending</p> -->
                    </div>
                    <div class="filter" id="Filter">
                        <div><i class="fa-solid fa-umbrella-beach"></i></div>
                        <a href="/Search/beach" id="Link">Beach</a>
                    </div>
                    <div class="filter" id="Filter">
                        <div><i class="fa-regular fa-snowflake"></i></div>
                        <a href="/Search/Arctic" id="Link">Arctic</a>
                    </div>
                    <div class="filter" id="Filter">
                        <div><i class="fa-solid fa-mountain-city"></i></div>
                        <a href="/Search/mountain" id="Link">mountains</a>
                        <!-- <p style="margin: 0;">mountains</p> -->
                    </div>
                    <div class="filter" id="Filter">
                        <div><i class="fa-solid fa-campground"></i></div>
                        <a href="/Search/camping" id="Link">Camping</a>
                        <!-- <p style="margin: 0;">Camping</p> -->
                    </div>
                    <div class="filter" id="Filter">
                        <div><i class="fa-solid fa-key"></i></div>
                        <a href="/Search/new" id="Link">New</a>
                        <!-- <p style="margin: 0;">New</p> -->
                    </div>
                    <div class="filter" id="Filter">
                        <div><i class="fa-solid fa-tractor"></i></div>
                        <p style="margin: 0;">Farms</p>
                    </div>
                    <div class="filter" id="Filter">
                        <div><i class="fa-solid fa-tree-city"></i></div>
                        <a href="/Search/botes" id="Link">Botes</a>
                        <!-- <p style="margin: 0;">Botes</p> -->
                    </div>
                    <div class="filter" id="Filter">
                        <div><i class="fa-solid fa-ship"></i></div>
                        <p style="margin: 0;">Botes</p>
                    </div>

                    <!-- 22222222 -->
                    <div class="filter" id="Filter">
                        <div><i class="fa-solid fa-tractor"></i></div>
                        <p style="margin: 0;">Farms</p>
                    </div>
                    <div class="filter" id="Filter">
                        <div><i class="fa-solid fa-tree-city"></i></div>
                        <p style="margin: 0;">Botes</p>
                    </div>
                    <div class="filter" id="Filter">
                        <div><i class="fa-solid fa-ship"></i></div>
                        <p style="margin: 0;">Botes</p>
                    </div>
                    <div class="filter" id="Filter">
                        <div><i class="fa-solid fa-tractor"></i></div>
                        <p style="margin: 0;">Farms</p>
                    </div>
                    <div class="filter" id="Filter">
                        <div><i class="fa-solid fa-tree-city"></i></div>
                        <p style="margin: 0;">Botes</p>
                    </div>
                    <!-- <div class="filter" id="Filter">
                        <div><i class="fa-solid fa-ship"></i></div>
                        <p style="margin: 0;">Botes</p>
                    </div>
                    <div class="filter" id="Filter">
                        <div><i class="fa-solid fa-tractor"></i></div>
                        <p style="margin: 0;">Farms</p>
                    </div>
                    <div class="filter" id="Filter">
                        <div><i class="fa-solid fa-tree-city"></i></div>
                        <p style="margin: 0;">Botes</p>
                    </div>
                    <div class="filter" id="Filter">
                        <div><i class="fa-solid fa-ship"></i></div>
                        <p style="margin: 0;">Botes</p>
                    </div> -->
                    <!-- 222222 -->

                </div>
                <div class="text-togule ms-auto">
                    <div class="form-check-reverse form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Display total taxes</label>
                    </div>
                </div>


            </div>
        </div>
        <!-- ------------------------------------------------------------------------------- -->




        <div class="row row-cols-lg-3 row-cols-lg-2 row-cols-lg-1 mt-5" style="  justify-content: center;">
            <div class="listingdata">

                <% for(let listing of allListings) { %>

                    <a href="/listings/<%= listing._id %>">
                        <div class="card" style="width: 20rem; border: none;
                margin-right: 20px;">

                            <img class="card-img-top" style="    border-radius: 1.5em;
                    object-fit: cover; height: 20rem; border-radius: 0.5em;" src=<%=listing.image.url %> alt="Card
                            image cap">
                            <div class="card-img-overlay">absd</div>
                            <div class="card-body">
                                <p class="card-text">
                                    <b>
                                        <%= listing.title %>
                                    </b>
                                    <br>
                                    <span style="display: flex;">
                                        <% if (listing.price !==null && typeof listing.price==='number' ) { %>
                                            ₹<%= listing.price.toLocaleString("en-in") %> / night
                                                <i class="taxe-icon">&nbsp; +18%taxe</i>
                                                <% } else { %>
                                                    Price Not Available
                                                    <% } %>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </a>

                    <% } %>
            </div>
        </div>



        <!-- ----------------------------------------------- -->
        <script>


            const filters = document.querySelectorAll(".filter");
            const currentPath = window.location.pathname;

            // when icon click autometic link click
            let checkbox = document.getElementById("flexSwitchCheckDefault");


            checkbox.addEventListener("click", () => {
                let taxe = document.getElementsByClassName("taxe-icon");
                console.log("It's working for 5555", taxe);
                for (info of taxe) {
                    info.style.display = "block";
                    if (checkbox.checked == false) {
                        info.style.display = "none";
                    }

                }
            });

            // when icon click autometic link click

            filters.forEach((filter) => {
                const link = filter.querySelector("a");
                filter.addEventListener("click", () => {
                    console.log("It's working for 5555");
                    // link.click();
                });
            });

            //  this is for add active class after refresh page
            filters.forEach((filter) => {
                const linkElement = filter.querySelector("a");
                const filterPath = new URL(linkElement.href).pathname;

                if (currentPath === filterPath) {
                    console.log("It's working for", filterPath);
                    filter.classList.add("active");
                }
            });
















            // when icon click autometic link click
            // const Filter = document.getElementById('Filter');
            // const Link = document.getElementById('Link');

            // // Add a click event listener to the filter
            // Filter.addEventListener('click', () => {
            //     // Simulate a click on the link when the filter is clicked
            //     Link.click();
            // });



        </script>

    </body>

    <!-- </html> -->